body {
    font-family: sans-serif;
    margin: 20px;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

.season-selector {
    margin-bottom: 20px;
}

.season-selector label {
    margin-right: 10px;
}

.season-selector select {
    margin: 0 5px;
    padding: 5px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
}

.visualisation-wrapper {
    flex-grow: 1;
    position: relative;
}

.details-panel {
    width: 0;
    background-color: white;
    color: #333;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
}

.details-content {
    padding: 20px;
}

.details-panel {
    width: 0;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
}

.details-panel.open {
    width: 400px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-description {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    /* background-color: #f9f9f9; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.341);
}